---
BasedOnStyle: Chromium
ColumnLimit: 140
AllowShortFunctionsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
UseTab: Never
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
MaxEmptyLinesToKeep: 3
SortIncludes: Never
PointerAlignment: Left
BreakBeforeBinaryOperators: false
AlignAfterOpenBracket: AlwaysBreak
Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
IndentCaseLabels: true
SpacesBeforeTrailingComments: 1
IndentPPDirectives: None
SpaceBeforeParens: Never
SeparateDefinitionBlocks: Always
SpaceAfterTemplateKeyword: false
AccessModifierOffset: -4
